@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* VARIABLES TEMPLATES COLORS */

:root {
  --color-1: rgba(255, 222, 89, 1);
  --color-2: rgba(241, 186, 134, 0.3);
  --color-3: rgb(159, 103, 51);

  --white: rgb(255, 255, 255, 1);
  --black: rgb(0, 0, 0, 1);
  --black-2: rgba(0, 0, 0, 0.5);

  --color-button-1: rgba(255, 222, 89, 1);
  --color-button-1-hover: rgba(255, 222, 89, 1);
  --background-button-1: rgba(50, 73, 131, 0.7);
  --background-button-1-hover: rgba(50, 73, 131, 1);
  --border-button-1: rgba(255, 222, 89, 1);
  --border-button-1-hover: rgba(255, 222, 89, 1);
  --border-button-1-active: rgba(255, 222, 89, 1);

  --color-button-2: rgba(50, 73, 131, 1);
  --color-button-2-hover: rgba(50, 73, 131, 1);
  --background-button-2: rgba(255, 222, 89, 0.7);
  --background-button-2-hover: rgba(255, 222, 89, 1);
  --border-button-2: rgba(50, 73, 131, 1);
  --border-button-2-hover: rgba(50, 73, 131, 1);
  --border-button-2-active: rgba(50, 73, 131, 1);

  --transition-in: all 300ms ease-in;
  --transition-out: all 400ms ease-out;
  --transition-out-long: all 1000ms ease-out;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 92%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #360202;
  font-family: "Poppins", Verdana, sans-serif;
  background-image: url("./assets/textures/gplay.png");
}

p {
  font-weight: 500;
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-1);
  text-shadow: 2px 2px 0 #324983, -2px 2px 0 #324983, 2px -2px 0 #324983,
    -2px -2px 0 #324983;

  font-weight: 900;
  letter-spacing: 2px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2.5rem;
}

p {
  font-size: 1.4rem;
}

a {
  color: var(--color-1);
  transition: var(--transition-in);
  font-size: 1.8rem;
}

a:hover {
  color: var(--white);
  text-decoration: underline var(--white);
}

a:active {
  color: var(--color-1);
  text-decoration: underline var(--color-1);
  transition: none;
}

.btn {
  width: max-content;
  font-family: var(--font-1);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: var(--transition-in);
}

.primary {
  background-color: var(--background-button-1);
  color: var(--color-button-1);
  border: 3px solid var(--border-button-1);
}

.secondary {
  background-color: var(--background-button-2);
  color: var(--color-button-2);
  border: 3px solid var(--border-button-2);
}

.btn:disabled {
  background-color: rgba(147, 147, 147, 0.3);
  color: rgba(147, 147, 147, 0.3);
  border: 3px solid rgba(147, 147, 147, 0.3);
  cursor: not-allowed;
}

.btn:disabled:hover {
  background-color: rgba(147, 147, 147, 0.3);
  color: rgba(147, 147, 147, 0.3);
  border: 3px solid rgba(147, 147, 147, 0.3);
  cursor: not-allowed;
}

.primary:hover {
  background-color: var(--background-button-1-hover);
  color: var(--color-button-1-hover);
  border: 3px solid var(--border-button-1-hover);
}

.secondary:hover {
  background-color: var(--background-button-2-hover);
  color: var(--color-button-2-hover);
  border: 3px solid var(--border-button-2-hover);
}

.primary:active {
  background-color: var(--background-button-1);
  color: var(--border-button-1-active);
  border: 3px solid var(--border-button-1-active);
  transition: none;
}

.secondary:active {
  background-color: var(--background-button-2);
  color: var(--border-button-2-active);
  border: 3px solid var(--border-button-2-active);
  transition: none;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* ===== MEDIA QUERIES (MOBILE) ===== */

@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: var(--container-width-sm);
    min-height: 66vh;
  }

  h1 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.9rem;
  }

  a {
    font-size: 1.2rem;
  }
}

/* ===== MEDIA QUERIES (TABLET) ===== */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    width: var(--container-width-md);
    min-height: 66vh;
  }

  h1 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  a {
    font-size: 1.4rem;
  }
}

/* ===== MEDIA QUERIES (LAPTOP) ===== */

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .container {
    width: var(--container-width-lg);
    min-height: 66vh;
  }

  h1 {
    font-size: 2.3rem;
  }

  h4 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  a {
    font-size: 1.6rem;
  }
}
